html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;

  color: #000;
  font-size: 62.5%;
}

a{
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #666;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  background: linear-gradient(90deg, #000 50%, #fff 50%);
}

.social-links > :not(:last-child) {
  padding-right: 10px;
}

.info-card {
  padding: 10rem 3rem;
  min-width: 26rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
